<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
    <title>Reseptit</title>
    <meta charset="UTF-8">
    </head>
    <body>
    <h2>Reseptilista</h2>
  
    <ul>
        <li th:each="annos: ${annokset}">
            <a th:href="@{~/reseptikirja/{id}(id=${annos.id})}">
                <span th:text="${annos.nimi}">Essi esimerkki</span>
            </a>
        </li>
    </ul>
    
    <ul>
        <li>
            <a href="reseptit">Luo uusi resepti</a>
        </li>
        <li>
            <a href="ainekset">Tarkastele ja lisää aineksia</a>
        </li>
    </ul>
</html>
