<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
    <title>Tilasto</title>
    <meta charset="UTF-8">
    </head>
    <body>
    <h2>Reseptien määrä, joissa kukin raaka-aine esiintyy</h2>
  
    <ul>
        <li th:each="ainesosa: ${raakaAineet}">
            <span th:text="${ainesosa.nimi} + ', reseptejä: ' + ${ainesosa.lkm}">Raaka-aine</span>
        </li>
    </ul>
    
    <ul>
        <li>
            <a href="../ainekset">Takaisin raaka-aineisiin</a>
        </li>
    </ul>
</html>